
<div class="row">
    
    <div class="grid-flip grid-half">
    <div class="grid-two-thirds footer-icons">
        <p>Be my internet friend:<br/>
            <a class="tap tweet" href="https://twitter.com/nsmsn" rel="me" title="Twitter"><i class="fa fa-twitter fa-lg"></i>
                <span class="screen-reader">Twitter feed</span></a>
            <a class="tap dribbble" href="https://dribbble.com/nsmsn/" rel="me" title="Dribbble"><i class="fa fa-dribbble fa-lg"></i>
            <span class="screen-reader">Dribbble shots</span></a>
            <a class="tap" href="https://github.com/nsmsn" rel="me" title="Github"><i class="fa fa-github fa-lg"></i>
            <span class="screen-reader">GitHub account</span></a>
            <a class="tap instagram" href="https://instagram.com/n.smsn/" rel="me" title="Instagram"><i class="fa fa-instagram fa-lg"></i>
            <span class="screen-reader">Instagram photos</span></a>
           <!-- <a class="tap" href="http://nsmsn.tumblr.com"><i class="fa fa-tumblr fa-lg"></i></a>
            <a class="tap" href="https://gimmebar.com/loves/nsmsn"><i class="fa fa-plus-circle fa-lg"></i></a>-->
            <a class="tap goodreads" href="https://www.goodreads.com/user/show/12733451-nick" rel="me" title="Goodreads"><i class="fa fa-book fa-lg"></i>
            <span class="screen-reader">Goodreads books</span></a>
            
            <a class="tap" href="https://www.reading.am/nsmsn" rel="me" title="Reading.am"><i class="fa fa-hand-peace-o fa-flip-horizontal fa-lg"></i>
            <span class="screen-reader">Reading feed</span></a></p>
    </div>

<div class="grid-third"><p class="footer-right"><a href="/feed.xml">RSS</a><br/><a href="https://tinyletter.com/nsmsn">Newsletter</a></p></div>
</div>
    
     <div class="grid-half"><p class="footer-left">Most images/text © &#x221e; Nick&nbsp;Simson<br/>
<a href="https://github.com/nsmsn/nsmsn.github.io">Source code</a> distributed under the MIT&nbsp;license.</p>
    </div>

</div>

<!--{% include svg-icons.html %}-->
