
<div class="row">
    
    <div class="grid-flip grid-half">
    <div class="grid-two-thirds footer-icons">
        <p>Be my internet friend:<br/>
            <a class="tap" href="https://twitter.com/nsmsn" title="Twitter"><i class="fa fa-twitter fa-lg"></i></a>
            <a class="tap" href="https://dribbble.com/nsmsn/" title="Dribbble"><i class="fa fa-dribbble fa-lg"></i></a>
            
            <a class="tap" href="https://github.com/nsmsn" title="Github"><i class="fa fa-github fa-lg"></i></a>
            
            <a class="tap" href="https://instagram.com/nsimson/" title="Instagram"><i class="fa fa-instagram fa-lg"></i></a>
           <!-- <a class="tap" href="http://nsmsn.tumblr.com"><i class="fa fa-tumblr fa-lg"></i></a>
            <a class="tap" href="https://gimmebar.com/loves/nsmsn"><i class="fa fa-plus-circle fa-lg"></i></a>-->
            <a class="tap" href="https://www.goodreads.com/user/show/12733451-nick" title="Goodreads"><i class="fa fa-book fa-lg"></i></a>
            <a class="tap" href="https://www.reading.am/nsmsn" title="Reading.am"><i class="fa fa-hand-peace-o fa-lg"></i></a></p>
    </div>

<div class="grid-third"><p class="footer-links"><a href="/feed.xml">RSS</a><br/><a class="right" href="https://tinyletter.com/nsmsn">Newsletter</a></p></div>
</div>
    
     <div class="grid-half"><p class="left">Images/Text © &#x221e; Nick Simson unless stated otherwise.<br/>
This site’s <a href="https://github.com/nsmsn/nsmsn.github.io">code</a> is distributed under the MIT license.</p>
    </div>

</div>

<!--{% include svg-icons.html %}-->
