<div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix row">
            <div class="grid-half">
          <a href="{{ site.baseurl }}/"><span class="site-avatar"><img src="{{ site.avatar }}" alt="" /></span>
       
            <span class="site-name">{{ site.name }}</span></a>
            </div>
            
            <div class="grid-half">
          <nav>
            <a href="{{ site.baseurl }}/work">Work</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/info">Info</a>
          </nav>
            </div>
        </header>
      </div>
    </div>