<div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix row">
            <div class="grid-half">
          <a href="{{ site.baseurl }}/"><span class="site-avatar"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0" y="0" width="36" height="36" viewBox="0 0 36 36" enable-background="new 0 0 36 36" xml:space="preserve"><path class="monogram" fill="#FF6633" d="M36 0C26.25 0 13.43 0 4.19 0L0 4.02c0 4.73 0 9.46 0 14.15L4.51 23C0.86 23 3.65 23 0 23c0 4 0 8.5 0 13 9.24 0 22.4 0 31.62 0L36 31.65c0-4.44 0-9.54 0-13.97L31.5 14H36V0zM12 28h-2V9.15l2 4.12V28zM14.6 17h1.42L9.99 7.05 21.21 19h-1.42l6.04 9.95L14.6 17zM26 26.63l-2-4.11V8h2V26.63z"/></svg></span>
       
            <span class="site-name">{{ site.name }}</span></a>
            </div>
            
            <div class="grid-half">
          <nav>
            <a href="{{ site.baseurl }}/work">Work</a>
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/info">Info</a>
          </nav>
            </div>
        </header>
      </div>
    </div>