
//
// BASE RULES
//

@import "_type", "_image";

abbr[title],
dfn[title] {
    color: $gray04;
    border-bottom: 1px dashed $gray01;
    cursor: help;
}

a,u,ins{
    text-decoration:none;
}

ins{
    border-bottom:1px solid;
}

samp {
    background-color: $gray01;
    padding: 0.25em;
    opacity: .8;
}

aside {
    width: 100%;
    text-align: left;
    }

label,
input,
textarea,
button,
select,
option{
    cursor:pointer;
}

.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus{
    cursor:text;
    outline:none;
}


/* Wrap tables or pre elements in a div with this class */

.overflow-container {
  overflow-y: scroll;
}

/*
  Aspect ratios for media objects i.e canvas, iframe, video, svg etc.
  Defaults to 16x9
*/

.aspect-ratio {
  height: 0;
  padding-top: 56.25%;
  position: relative;
}

.aspect-ratio--object {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

table, pre {
    @extend .overflow-container;
}


a img {
    border: none;
    background: none;
}

//  Prevents border/background on linked image hover.
// Adds slight opacity.
a:hover img {
    border: none;
    background: none;
    opacity: 0.8;
    filter: alpha(opacity=80);
}



img {
  max-width: 100%;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}


hr {
  background: none;
  border: $none;
  border-bottom:1px solid $gray01;
  width: 100%;
  margin: 0 auto;
  margin-top:1em;
  margin-bottom:1.5em;
  height:2px;
  padding:0 1em .5em 1em;
  }