
//
// BLOG
//

.entry p a {
	border-bottom: 1px dotted $gray02;
}

.entry p a:hover {
	border-bottom: 1px solid $gray02;
}
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 3px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 4px;
    float: right;
  }

.post-heading {
    font-family: $league;
    padding-bottom: 2.5%;
    text-transform: uppercase;
}

.date {
  font-style: italic;
  color: $gray04;
  padding: .425em 0;
}

.disqus {
  border-top: 2px solid #f4f6f6;
  background-color: #fafafa;
  flex: 1 0 auto;
  margin-top: 11%;
  padding-top: 3.5%;
  padding-bottom: 4%;
  margin-bottom: -7%;

}