
//
// BLOG
//

.entry a {
	border-bottom: 2px dotted $gray01;
}

.entry a:hover {
	border-bottom: 2px solid $gray03;
}
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }


.date {
  font-style: italic;
  color: $gray;
}