
//
// BLOG
//

.entry a {
	border-bottom: 1px dotted $gray01;
}

.entry a:hover {
	border-bottom: 1px solid $gray03;
}
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 4px;
    float: right;
  }


.date {
  font-style: italic;
  color: $gray;
}

.disqus {
  border-top: 2px solid #f4f6f6;
  background-color: #fafafa;
  margin-top: 11%;
  padding-top: 3.5%;
  padding-bottom: 4%;
  margin-bottom: -7%;

}