
//
// BUTTONS
//

button,
.btn {
	display: inline-block;
	font-family: $sans;
	color: $white;
	text-decoration: none;
    text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	letter-spacing: 0.1em;
	font-size: calc-em(15px);
	line-height: 1.2;
	font-weight: normal;
	background-color: $gray03;
	border-radius: 0.25em;
	padding: 0.5em 0.75em;
	border: 1px solid $gray03;  /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
    text-transform: uppercase;
}



button,
.btn {
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	/* Override default Webkit/Firefox button styling */
	background-image: none;
	-webkit-appearance: none;
    box-shadow: none;
}

.btn:last-child,
input.btn {
	margin-right: 0;
}

a.btn,
a.btn:hover,
a.btn:hover,
a.btn.active {
	color: $white;
	border-bottom: none;
}

.btn:hover,
a .btn:hover,
.btn.active {
	background-color: darken( $gray03, 15% );
	border-color: darken( $gray03, 15% );
	text-decoration: none;
}

.btn:active,
.btn.active {
	box-shadow: inset 0 calc-em(2.5px) calc-em(4px) rgba(0, 0, 0, 0.15), 0 calc-em(1px) calc-em(2.5px) rgba(0, 0, 0, 0.05);
	outline: 0;
}

.btn.disabled,
.btn[disabled] {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
	filter: alpha(opacity=50);
    box-shadow: none;
}

.btn-large {
	padding: calc-em(11px) calc-em(15px);
	font-size: 1em;
	line-height: normal;
}

.btn-block,
input[type="submit"].btn-block,
input[type="reset"].btn-block,
input[type="button"].btn-block {
	display: block;
	width: 100%;
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
}

// ------ HTML 'kbd' element ------
kbd {
	color: $white;
	font-family: Futura, "Century Gothic", CenturyGothic, AppleGothic, "Trebuchet MS", Arial, sans-serif;
	font-size: 87.5%;
	line-height: 90%;
	background-color: $charcoal;
	margin: 0 0.25em; /* 0 4px */
	border: 1px solid $gray04;
	border-radius: 4px;
	padding: 0.3334em 0.5em;
	box-shadow: inset 0 1px 0 $black;
}