
//
// COLORS
//

// Grayscale
$black: #19192A;
$charcoal: #222233;
$gray05: #363745;
$gray04: #53555F;
$gray03: #A3A4AC;
$gray02: #CCCDD1;
$gray01: #F5F5F5;
$white: #FFF;

// Warm

$red: #D83D0E;
$warm-red: #F05023;
$salmon: #FF6633;

$red-highlight: #FCDBD2;

//Cool

$blue: #146AFF;

$purple: #454499;



// Grayscale fail-safe
$pure-black: #000;
$darkerGray: $gray05;
$darkGray: $gray04;
$gray: $gray03;
$lightGray: $gray02;
$pure-white: #fff;
$grey: $gray;
