
//
// FOOTER
// 

.wrapper-footer {
  font-size: 0.875em;
  color: $gray05;
  background: #ececec;    
  background: rgba(0,0,0,.075);
  z-index: 9000;   
    
  flex: 1 0 auto;    
    

    @include mobile {
    margin-top: 50px;
  font-size: 14px;
  }
}

footer {
  padding: 20px 0;
  flex: none;
  font-family: $sans;
  font-size: 15px;    
}

footer a {
    color: #111;
}

footer a:hover {
    text-decoration: underline;
}

.footer-icons, .footer-right, .footer-left {
  text-align: center;
}

.footer-icons a{
    color: $gray04;
}

.footer-icons a:hover{
    color: #111;
}