
//
// FOOTER
// 

.wrapper-footer {
  margin-top: 75px;
  font-size: 0.875em;
  color: $gray04;
  border-top: 1px dashed $gray02;
  background-color: $pure-white;
    

    @include mobile {
    margin-top: 50px;
  font-size: 14px;
  }
}

footer {
  padding: 20px 0;
}

footer a {
    color: #111;
}

footer a:hover {
    text-decoration: underline;
}

.footer-icons, .footer-right, .footer-left {
  text-align: center;
}

.footer-icons a{
    color: $gray03;
}

.footer-icons a:hover{
    color: #111;
}