
//
// MAIN
// 

.main-container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: $container-width;
}

.breadcrumb-nav {
	float: none;
	font-size: 15px;
	margin-top: 9px;

	> a {
		margin-left: 0px;
		margin-right: 0px;

		@include mobile {
     margin-left: 0px;
		margin-right: 0px;
    }
	}
}


// ------ default links ------


.link-under {
  color: $red;
  border-bottom: 1px dotted $gray01;
  margin-bottom: -.25em;
  padding-bottom: -1em;
}

.link-hover{
    color: $gray03;
    border-bottom:2px solid $gray01;
    }

.main-container a{
  @extend .link-under;
  line-height: 1em;
  }

.main-container a:hover {
  @extend .link-hover;
  }

.main container a img{
    border-bottom: 0px solid #fff ;
}

.main container a:hover img{
    border-bottom: 0px solid #fff;
}