
//
// MAIN
// 

.main-container {
  margin: 0 auto;
  max-width: 836px;
  padding: 0 10px;
  width: $container-width;
}

.breadcrumb-nav {
	float: none;
	font-size: 15px;
	margin-top: 9px;

	> a {
		margin-left: 0px;
		margin-right: 0px;

		@include mobile {
     margin-left: 0px;
		margin-right: 0px;
    }
	}
}


// ------ default links ------


.link-under {
  color: $red;
  border-bottom: 1px dotted $gray02;
  margin-bottom: -.75em;
  padding-bottom: -2em;
}

.link-hover{
    color: $black;
    border-bottom: 1px solid $gray02;
    }

.main-container  a{
  @extend .link-under;
  line-height: 1em;
  }

.main-container  a:hover {
  @extend .link-hover;
  }

.main-container figure a {
    border-bottom: 0px solid #fff ;
}

.main-container figure a:hover {
    border-bottom: 0px solid #fff;
}