
//
// MEDIA: Video Embeds
//

.video-box {
  background: $gray02;	
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 1em;
  height: 0;
  overflow: hidden;
}

.video-box object, .video-box iframe, .video-box embed  {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}