
//
// PATTERNS
// 

@import "_header", "_main", "_footer", "_collection", "_portfolio", "_blog";

@import "_forms", "_buttons", "_tables", "_social";

// Misc. Patterns (to be categorized later)

.profile, .book {
  float: right;
  margin-left: 18px;
  margin-bottom: 10px;
  width: 45%;
  height: auto;
}

.circle {
    border-radius: 100%;
}

.panel {
	background-color: $gray01;
	border: 1px solid $gray02;
	padding: 0px 8px 0px 8px;

	> h3 {margin-top: .5em;}
}

.panel-black {
    background-color: $gray05;
    border: 2px solid $black;
    color: $white;
}

.panel-highlight {
    background-color: $gray01;
	border: 1px dashed $gray02;
	padding: 0px 11px 0px 11px;
}

.panel-highlight h4 {
    text-align: center;
}