//
// PORTFOLIO
//

.portfolio-item {
	margin:4em 0;
}

.browser {
	border: 2px $gray03 solid;
    border-radius: 4px;
}

.project-container {
//  margin: 1.4rem;
  position: relative;
  overflow: hidden;
  margin: 0px 0px;
  border: 4px solid #fff;
  background-color: $charcoal;    
}

.preview, .thumbnail {
//  width: 350px;
    vertical-align: bottom;
}

.detail-title {
  margin: 0 auto;
  font-size: 1.5rem;
  color: #fff;
  line-height: 1.8rem;
}

.project-category {
  margin: 0;
  font-size: 1rem;
  color: #fff;
  font-style: italic;
}

.project-details {
  display: none;
  position: absolute;
  top: -150px;
  padding: .5rem;
  color: #fff;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: left;
// height: 300px;
}

.project-url:hover .preview, .project-url:hover .thumbnail  {
  opacity: .1;
}

.project-url:hover .project-details {
  -webkit-animation: slide 450ms forwards;
  animation: slide 450ms forwards;
}

/* Details on hover slide animation */
@-webkit-keyframes slide {
  to {
    -webkit-transform: translateY(170px);
  }
}

@keyframes slide {
  to {
    transform: translateY(170px);
  }
}

.project-url:hover .project-details {
  display: block
}


.thumbnail-container {
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;   
}

.hero {
    background-color: $black;
    flex: 1 0 auto;
}

.big-hero {
    background-color: $black;
    color: #fff;
    margin-bottom: 2em;
    flex: 1 0 auto;
}

.hero-breadcrumb {
    padding-top: 1.5em;
}

.hero-title {
    text-align: center;
    color: #fff;
}

.hero-text {
    color: #fff;
}
.hero-text a{
    color: #fff;
}
.hero-text a:hover{
    color: #fff;
    text-decoration: underline;
}

 .portfolio-detail-box {
     border-left: 2px dotted $gray04;
     margin-bottom: 1em;
 }

 .portfolio-detail-box h5{
     padding-left: 30px;
     text-transform: uppercase;
     letter-spacing: 2px;
 }

 .portfolio-detail-box i{
     padding-right: 0.5em;
}

.featured-image {
    margin: 0 auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
    vertical-align: bottom;
}

