
//
// SOCIAL
//

/*  Variables */
/*  Twitter */

.tweet:hover,
a .tweet:hover {
  color: #41b7d8;
}

/*  Facebook */

.facebook:hover,
a .facebook:hover {
  color: #3b5997;
}

/*  Google */

.google:hover,
a .google:hover {
  background-color: #a02f21;
  border-color: #a02f21;
}

/*  LinkedIn */
.linkedin:hover,
a .button-linkedin:hover {
  color: #004265;
}

/*  Pinterest */
.pinterest:hover,
a .pinterest:hover {
  color: #89161a;
}

/*  GitHub */
.github:hover,
a .github:hover {
  color: #131212;
}


/*  Tumblr */
.tumblr:hover,
a .tumblr:hover {
  color: #19212b;
}

/*  G00dReads */
.goodreads:hover,
a goodreads:hover {
  color: #5A481C;
}


/*  GimmeBar */
.gimme:hover,
a .gimme:hover {
  background-color: #a81055;
  border-color: #a81055;
}

/*  Reading.am */
.readingam:hover,
a .readingam:hover {
  color: #000;
}

/*  Dribbble */
.dribbble:hover,
a .dribbble:hover {
  color: #EA4C89;
}

/*  Instagram */
.instagram:hover,
a .instagram:hover {
  color: #3F729B;
}
