
//
// SOCIAL
//

/*  Variables */
/*  Twitter */

.tweet:hover,
a.tap.tweet:hover {
  color: #55ACEE;
}

/*  Facebook */

.facebook:hover,
a.tap.facebook:hover {
  color: #3B5998;
}

/*  Google */

.google:hover,
a.tap.google:hover {
  background-color: #a02f21;
  border-color: #a02f21;
}

/*  LinkedIn */
.linkedin:hover,
a.tap.button-linkedin:hover {
  color: #004265;
}

/*  Pinterest */
.pinterest:hover,
a.tap.pinterest:hover {
  color: #89161a;
}

/*  GitHub */
.github:hover,
a.tap.github:hover {
  color: #131212;
}


/*  Tumblr */
.tumblr:hover,
a.tap.tumblr:hover {
  color: #19212b;
}

/*  G00dReads */
.goodreads:hover,
a.tap.goodreads:hover {
  color: #5A481C;
}


/*  GimmeBar */
.gimme:hover,
a.tap.gimme:hover {
  background-color: #a81055;
  border-color: #a81055;
}

/*  Reading.am */
.readingam:hover,
a.tap.readingam:hover {
  color: #000;
}

/*  Dribbble */
.dribbble:hover,
a.tap.dribbble:hover {
  color: #EA4C89;
}

/*  Instagram */
.instagram:hover,
a.tap.instagram:hover {
  color: #3F729B;
}
