
//
// TABLES
//

table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption {
	caption-side: bottom;
	color: $gray04;
	font-size: 0.85em;
	line-height: 1.3334;
	text-align: left;
	margin: 1em 0; /* 12px 0 */
}
td, th {
	text-align: left;
	border-bottom: 1px solid $gray02;
	padding: 0.375em 2em 0.375em 0; /* 6px 32px 6px 0 */
	vertical-align: top;
}
th {
	font-weight: 700;
	padding-bottom: 0.5em; /* 8px */
}
thead th {
	border-bottom: 2px solid $gray;
}